.card-slider { 
    margin-bottom: 100rem;
}
.card-slider .wrap .content{
    margin: 0 auto;
    margin-bottom: 60rem;
    max-width: 700rem;
    text-align: center;
}
.card-slider .wrap{
    justify-content: center;
    align-items: center;
    max-width: 1200rem;  
    margin: 0 auto;
}
.card-slider .wrap h3{
    margin-bottom: 20rem;
    font-size: 51rem;
}
.card-slider .wrap >.subtext{
    color: #333;
}
.card-slider .inner { 
  margin: 0 auto;
  padding: 25px 0px;
  overflow: hidden;
  padding: 0 5px; 
}

.card-slider .inner .card { 
    background: #FFF;
}

.card-slider .inner .card .meta { 
  padding: 30rem;
}

.card-slider .inner .card .image { 
    height: 300rem;
    width: 100%;
    background-size: cover; 
    background-position: center;
}

.card-slider .inner .card .heading { 
    font-size: 18rem;
    font-weight: bold;
}

.card-slider .inner .card .summary { 
    font-size: 14rem;
    margin-top: 10rem;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-dots{
    display: flex;
    margin: 5rem;
}
.slick-dots li{
    display: flex;
    margin: 5rem;

}
.slick-dots li.slick-active button{
    background: #44ACC4;
    height: 8rem;
}
.slick-dots li button{
    border: none;
    background: #EFEFEF;
    width: 96rem;
    border-radius: 6rem;
}
.slick-dots li button:after{
    display: none;
}
.slick-dots li button:before{
    display: none;
}
.slick-list {
    position: relative;
    display: block;
    margin: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 60rem;
}
@media (max-width: 1000px){
    .slick-dots li button{
        width: 30rem;
    }
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 20rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);

}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
