<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
   <img class="left-side" src="https://f.hubspotusercontent30.net/hubfs/19944133/footershape.png">
   <img class="accent" src="https://f.hubspotusercontent30.net/hubfs/19944133/footeraccent.png">
 <div class="footer__container">
   <div class="text-container">
     <div class="left-side-text">
       <ul>
         <li><a href="">Design Examples</a></li>
         <li><a href="https://newbreedmarketing.invisionapp.com/console/share/ED2G88QJSY/606104646">Pillir</a></li>
         <li><a href="https://newbreedmarketing.invisionapp.com/console/share/B6278STTUA/554606042">HAAS</a></li>
         <li><a href="https://newbreedmarketing.invisionapp.com/console/share/4B2HZ639WV/607931793">Adventus</a></li>
         <li><a href="https://newbreedmarketing.invisionapp.com/console/share/621RVVDT5V/495993518">Cloudli</a></li>
       </ul>
        <ul>
         <li><a href="">Development Examples</a></li>
         <li><a href="https://www.tricerat.com">Tricerat</a></li>
         <li><a href="https://www.pactsafe.com">Pactsafe</a></li>
         <li><a href="https://www.phocassoftware.com/">Phocas</a></li>
         <li><a href="https://www.indigo.com">Indigo</a></li>
         <li><a href="https://www.talmundo.com/">Talmundo</a></li>
       </ul> 
     </div>
     <div class="right-side-text">
       <ul>
         <li><a href="">Hobbies</a></li>
         <li><a href="#">NBA (Celtics)</a></li>
         <li><a href="#">Guitar!</a></li>
         <li><a href="#">Skiing</a></li>
         <li><a href="#">Skateboarding</a></li>  
       </ul>
     </div>
   </div>
   <div class="form-container">
        <span class="title">Interested in Learning More?</span>
           <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script data-hubspot-rendered="true">
        hbspt.forms.create({
        region: "na1",
        portalId: "19944133",
        formId: "4bb85517-3763-4b36-a10a-30ffed80f983"
      });
      </script>
     <span class="copyright">Copyright © 2021. Privacy Policy &amp; Terms of Use</span>
   </div>
  </div>
</footer>
