<!--
  templateType: global_partial
  label: Website header
-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>

<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  <a href="#main-content" class="header__skip">Skip to content</a>

  <div class="header__container">
    <div class="inner">  
      <img src="https://f.hubspotusercontent30.net/hubfs/19944133/leiflogo.svg" class="logo">
    </div>
  </div>


</header>
