.ps-alternating-content .image-on-left.inner{
    flex-direction: row-reverse;
}
.ps-alternating-content .image-on-left.inner .content{
    margin-left: 100rem;
    margin-right: 0rem;
    margin-top: 0;
    display: block;
    display: none;
}
.ps-alternating-content .inner { 
    display: flex;
    max-width: 1200rem;
    padding: 0rem 20rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;   
}
.ps-alternating-content .inner .content { 
    margin-right: 100rem;
}

.ps-alternating-content .inner .content .eyebrow-text { 
    text-transform: uppercase;
    margin-bottom: 10rem;
    font-weight: bold;
    font-size: 14rem;
    color: #44acc4;
}
.ps-alternating-content .inner .content h3 { 
    margin-bottom: 20rem;
}

.ps-alternating-content .inner .content p { 
    color: #333;
}
.ps-alternating-content .inner .image{
    position: relative;
}
.ps-alternating-content .inner .image img { 
    position: relative;
    max-width: 600rem;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.30);
}
@media (max-width: 1000px){
    .ps-alternating-content .inner { 
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .ps-alternating-content .image-on-left.inner{
        flex-direction: column-reverse;
    }
    .ps-alternating-content .inner .content{
        margin-left: 0;
        margin-top: 40rem;
        text-align: center;
        margin-right: 0;
    }
    .ps-alternating-content .image-on-left.inner .content{
        margin-left: 0;
        margin-right: 0;
    }
    .ps-alternating-content .inner .image{
        max-width: 100%;
    }
    .ps-alternating-content .inner .image img { 
        max-width: 100%;
    }
}